<div>
        <h1 style="margin-left: 15px;color:white" >Core Project Team</h1>
        <hr>
        <div *ngIf="authenticated" class="row">
            <div class="col-md-5" *ngFor="let user of users" style="margin-bottom: 10px">
            <user-thumbnail  [user]="user"></user-thumbnail>
            </div>
        </div>
    </div>