<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<div class="well well-lg" style="margin-left:15px">
        <h2>{{user?.displayName | uppercase}}</h2>
        <div *ngIf="user?.mail">
        <label>Mail: {{user?.mail}}</label>
        </div>
        <div *ngIf="user?.jobTitle">
            <label>JobTitle: {{user?.jobTitle}}</label>
        </div>
    </div>