

  <h3  style="margin-left: 3%"></h3>   

      <ul class="metro" style="list-style-type:none">


            <mat-card  class="dashboard-cards" (click)="listVideos()">
                    <mat-card-header>
                      <mat-card-title>Videoanalyse Board</mat-card-title>
                      </mat-card-header>
                    <img mat-card-image class= "img-card" style="height: 270px"  src="/assets/img/videoanalyse.jpg">
                    <mat-card-content>
                      <p>
                      Hier finden Sie dasVideoanalyseboard.
                      </p>
                    </mat-card-content>                           
               </mat-card>

               <mat-card  class="dashboard-cards" (click)="languageModelVideos()">
                    <mat-card-header>
                      <mat-card-title>Sprachmodelle</mat-card-title>
                      </mat-card-header>
                    <img mat-card-image class= "img-card" style="height: 270px"  src="/assets/img/sprachmodelle.jpg">
                    <mat-card-content>
                      <p>
                       Hier finden Sie die Sprachmodelle.
                      </p>
                    </mat-card-content>                           
               </mat-card>


            <div class="box">
                <span class="close"></span>
                <p></p>
            </div>
