<h1 mat-dialog-title>Wollen Sie den Nutzer: {{value}} wirklich löschen ?</h1>

<div mat-dialog-content>

  
  <button type="submit" (click)='onDeleteClick()' mat-button [mat-dialog-close]="true">Ja,bitte entfernen</button>  
  <button type="submit" (click)='onCancelClick()' mat-button [mat-dialog-close]="false">Abbrechen</button>  



</div>