<h1 mat-dialog-title>Wählen Sie eine Rolle für den Nutzer aus</h1>

<div mat-dialog-content>


  <mat-form-field>
      <mat-select [(value)]="value">
            <mat-option *ngFor="let role of roles" [value]="role">{{role.name}}</mat-option>
      </mat-select>

  </mat-form-field>
  
  <button type="submit" (click)='onAssignClick()' mat-button [mat-dialog-close]="true">Assign</button>  
  <button type="submit" (click)='onCancelClick()' mat-button [mat-dialog-close]="false">Abbrechen</button>  



</div>