
  
  <div class="flexHeader">
    <h1>Benutzer Übersicht</h1> 
  </div>

  <form *ngIf="authenticated" class="form-inline waves-light" mdbWavesEffect style="margin-left:5%;">
    <div class="md-form mt-0">
      <input class="form-control mr-sm-2" type="text" [(ngModel)]='searchValue' name="searchBar"placeholder="Suche nach Nutzer im AD" (keyup)="getUserFromAd(searchValue)">
      <button mat-raised-button (click)="showAll()" style="margin-left:0.5%">Alle registrierte Nutzer anzeigen</button>
    </div>
  </form>

<div *ngIf="authenticated" class="container roles">
    <div class="table-responsive" style="margin-bottom:15px">

  <table class="table  table-bordered">
<thead>
  <tr>
    <th scope="col">Nutzer Id</th>
    <th scope="col">Rollen</th>
    <th scope="col">Module</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
</thead>
<tbody>
    <tr *ngFor="let user of users" >

      <td [ngClass]="{blue: user['id'] == undefined}">{{user?.displayName}}</td>
     <!-- <td [ngClass]="{blue: user['id'] == undefined}">{{user?.roleArray}}</td> -->
      <td [ngClass]="{blue: user['id'] == undefined}" nowrap="nowrap" style="width: 170px">
          <a class="trigger info-color text-white" *ngFor="let role of user?.roleArray">{{role}}</a>
        </td>
        <td [ngClass]="{blue: user['id'] == undefined}" nowrap="nowrap" style="width: 250px">
            <a class="trigger info-color text-white" *ngFor="let module of user?.moduleArray">{{module}}</a>
          </td>
     <!-- <td [ngClass]="{blue: user['id'] == undefined}" >{{user?.moduleArray}}</td> -->
      <td [ngClass]="{blue: user['id'] == undefined}"><button *ngIf ="user['id'] !== undefined" mat-raised-button (click)="openDeleteDialog(user?.mail)">Nutzer Löschen</button></td>
      <td [ngClass]="{blue: user['id'] == undefined}"><button *ngIf ="user['id'] == undefined" mat-raised-button (click)="openDialog(user?.mail,user?.roleName)">Nutzer Hinzufügen</button></td>
      
  </tr>
      
</tbody>
</table>
</div>
</div>


