/* You can add global styles to this file, and also import other style files */

@import '~ngx-toastr/toastr.css'; 
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import "http://fontawesome.io/assets/font-awesome/css/font-awesome.css";

@font-face {
  font-family: 'EY-Bold';
  src: url('/assets/EYInterstate-Bold.ttf') format('truetype'); 
}

@font-face {
  font-family: 'EY-Light';
  src: url('/assets/EYInterstate-Light.ttf') format('truetype'); 
}

@font-face {
  font-family: 'EY-Text';
  src: url('/assets/EYInterstate-Regular.ttf') format('truetype'); 
}


/*Global Variables*/

:root {
  --color-background: white; 
  --color-gradient: rgb(221, 228, 238);
  --color-toolbar: rgb(51,51,51);
  --color-contrary: white;
  --color-corporate: rgb(255, 230,0);
  --color-cards: white;
  --color-card-contrast:rgb(51,51,51);;
  --font-header: 'EY-Bold';
  --font-text: 'EY-Text';
}




.dashboard-background {
background: var(--color-background);
font-family: 'EY-Text';
overflow:hidden;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

align-content: center;
align-items: center;
}

h1, h2, h3, h4, h5, h6 {font-family: var(--font-text)}


h2 {
margin:150px auto 50px;
font-family: var(--font-text);
text-align:center;
font-size:18px;
text-transform:capitalize;
background:var(--color-background);
padding:25px;
display:block;
cursor:default;
width:370px;
color:white;
/*border:1px solid rgba(173, 173, 173, 0.15);*/
}

.metro {

min-height: 100%;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;

}
.metro > ul {
    display: flex; 
    flex-basis: calc(50% - 40px);  
    justify-content: center;
    flex-direction: column;
  }

  .metro > ul > li {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  

/* POPUP */

.box {
display: table;
top: 0;
visibility: hidden;
-webkit-transform: perspective(1200px) rotateY(180deg) scale(0.1);
-ms-transform: perspective(1200px) rotateY(180deg) scale(0.1);
transform: perspective(1200px) rotateY(180deg) scale(0.1);
top: 0;
left: 0;
z-index: -1;
position: absolute;
width: 100%;
height: 100%;
opacity: 0;
transition: 1s all;
}

.box p {
display: table-cell;
vertical-align: middle;
font-size: 64px;
color: #ffffff;
text-align: center;
margin: 0;
opacity: 0;
transition: .2s;
-webkit-transition-delay: 0.2s;
-ms-transition-delay: 0.2s;
transition-delay: 0.2s;
}

.box p i {
font-size: 128px;
margin:0 0 20px;
display:block;
}

.box .close {
display:block;
cursor:pointer;
border:3px solid rgba(255, 255, 255, 1);
border-radius:50%;
position:absolute;
top:50px;
right:50px;
width:50px;
height:50px;
-webkit-transform:rotate(45deg);
-ms-transform:rotate(45deg);
transform:rotate(45deg);
transition: .2s;
-webkit-transition-delay: 0.2s;
-ms-transition-delay: 0.2s;
transition-delay: 0.2s;
opacity:0;
}

.box .close:active {
top:51px;
}

.box .close::before {
content: "";
display: block;
position: absolute;
background-color: rgba(255, 255, 255, 1);
width: 80%;
height: 6%;
left: 10%;
top: 47%;
}

.box .close::after {
content: "";
display: block;
position: absolute;
background-color: rgba(255, 255, 255, 1);
width: 6%;
height: 80%;
left: 47%;
top: 10%;
}

.box.open {
left: 0;
top: 0;
visibility: visible;
opacity: 1;
z-index: 999;
-webkit-transform: perspective(1200px) rotateY(0deg) scale(1);
-ms-transform: perspective(1200px) rotateY(0deg) scale(1);
transform: perspective(1200px) rotateY(0deg) scale(1);
width: 100%;
height: 100%;
}

.box.open .close, .box.open p {
opacity: 1;
}
