`  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <div class="flexHeader">
    <h1>Verfügbare Videos</h1> 
  </div>
  
  <hr>

  <div *ngIf="authenticated" class="container roles">
      <div class="table-responsive">

        <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Dauer in Sekunden</th>
            <th scope="col">Letzte Änderung</th>
            <th scope="col">Videoanalyse Board</th>
        
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let video of videos">
              <td>{{video?.name}}</td>
              <td>{{video?.durationInSeconds}}</td>
              <td>{{video?.lastModified |  date:'MM/dd/yyyy HH:mm'}}</td>
              <td>  <button mat-raised-button [routerLink]="[video.id]" title="{{video?.name}}  von: {{video?.userName}}"><i class="fa fa-play-circle" style="font-size:35px;min-height: 40px !important; height: 40px !important;margin-top: 5px"></i></button>
              </td>
            </tr>
              
        </tbody>
        </table>
        </div>
        </div>

    