
    .flexHeader {
        display: flex;
        height: 100%;
        justify-content: center;
        margin-left: 8%;
        margin-right: 8%;
        margin-top: 0.5%;
        font-family: var(--font-text);
    }
      .flex {
        display: flex;
        height: 100%;
        justify-content: center;
        margin-left: 8%;
        margin-right: 8%;
        margin-top: 1%;
        border:2px solid rgb(90, 89, 89);
    
    }

    td{
        text-align:left;
        font-weight:bold;
        color: black; 
      }
      
    .roles{
    margin-top: 0.5%;
    width: 90%;
    align-content: center;
    background-color: white;
    border:2px solid rgb(90, 89, 89);
    }
      .pad-left{margin-left:10px; }
      .thumbnail {min-height:210px;}
      .well div{color: #bbb;}
  
      .video-list-thumbs{}
  .video-list-thumbs > li{
      margin-bottom:12px;
  }
  .video-list-thumbs > li:last-child{}
  .video-list-thumbs > li > a{
      display:block;
      position:relative;
      background-color: #111;
      color: #fff;
      padding: 8px;
      border-radius:3px;
      transition:all 500ms ease-in-out;
      border-radius:4px
  }
  .video-list-thumbs > li > a:hover{
      box-shadow:0 2px 5px rgba(0,0,0,.3);
      text-decoration:none
  }
  .video-list-thumbs h2{
      bottom: 0;
      font-size: 14px;
      height: 33px;
      margin: 8px 0 0;
  }
  .video-list-thumbs .glyphicon-play-circle{
      font-size: 60px;
      opacity: 0.6;
      position: absolute;
      right: 39%;
      top: 31%;
      text-shadow: 0 1px 3px rgba(0,0,0,.5);
      transition:all 500ms ease-in-out;
  }
  .video-list-thumbs > li > a:hover .glyphicon-play-circle{
      color:#fff;
      opacity:1;
      text-shadow:0 1px 3px rgba(0,0,0,.8);
  }
  .video-list-thumbs .duration{
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 2px;
      color: #fff;
      font-size: 11px;
      font-weight: bold;
      left: 12px;
      line-height: 13px;
      padding: 2px 3px 1px;
      position: absolute;
      top: 12px;
      transition:all 500ms ease;
  }
  .video-list-thumbs > li > a:hover .duration{
      background-color:#000;
  }
  @media (min-width:320px) and (max-width: 480px) { 
      .video-list-thumbs .glyphicon-play-circle{
      font-size: 35px;
      right: 36%;
      top: 27%;
      }
      .video-list-thumbs h2{
          bottom: 0;
          font-size: 12px;
          height: 22px;
          margin: 8px 0 0;
      }
  }