:host,
.flex,
.main-container,
.webchat-container {
    height: 650px;
    overflow: auto;
}

.flex {
    display: flex;
    height: 100%;
    justify-content: center;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 1%;
    border:2px solid rgb(90, 89, 89);

}
.flexHeader {
    display: flex;
    height: 100%;
    justify-content: center;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 0.5%;

}

.transcript-container {
    flex: 3;
    background-color: #fcf7f7;
    padding: 1rem;
}

.player-container {
    flex: 2;
    background-color: #fcf7f7;
    padding: 1rem;
}

.ui-loader-background {
    width:100%;
    height:100%;
    top:150px;
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index:100;
}

.ui-loading .ui-loader-background {
    display:block;
}
.webchat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-end;
    background-image: linear-gradient(gray, white);
    background-color: black;
}

.webchat-containerDisabled {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-end;
    pointer-events:none;
}
