<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<div class="flexHeader">
    <h1 style="color:black"></h1> 
</div>
<div class="flex">
    <div  class="webchat-container" #botWindow ></div>
</div>

<div *ngIf="!authenticated" class="ui-loader-background"> </div>
