
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<div class="flexHeader">
  <h1> Sprachmodelle Übersicht</h1> 
</div>



<div *ngIf="authenticated" class="container roles">
<table class="table">
<thead>
<tr>
  <th scope="col">Id</th>
  <th scope="col">Name</th>
  <th scope="col">Sprache</th>
  <th scope="col">Status</th>
  <th scope="col">Download</th>
  <th scope="col">Upload Sprachdateien</th>



</tr>
</thead>
<tbody>
  <tr *ngFor="let model of languagemodels">
    <td>{{model?.id}}</td>
    <td>{{model?.name}}</td>
    <td>{{model?.language}}</td>
    <td>{{model?.state}}</td>
    <td>
      <button mat-raised-button (click)="downloadLanguageModelFile(model?.id,file?.id)" *ngFor="let file of model?.files">{{file?.name}}</button>
    
    
    </td>
    <td>
      <input #file type="file"  multiple (change)="upload(file.files)" ></td>

  </tr>
    
</tbody>
</table>

</div>
