td{
    text-align:left;
    font-weight:bold;
    color: black; 
  }
.roles{
margin-top: 0.5%;
width: 90%;
align-content: center;
background-color: white;
border:2px solid rgb(90, 89, 89);
}
.flexHeader {
    display: flex;
    height: 100%;
    justify-content: center;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 0.5%;
    font-family: var(--font-text);
}
  .flex {
    display: flex;
    height: 100%;
    justify-content: center;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 1%;
    border:2px solid rgb(90, 89, 89);

}