

  <div class="flexHeader">
    <h1>Rollen</h1> 
  </div>


<div *ngIf="authenticated" class="container roles">
    <div class="table-responsive">

  <table class="table table-bordered">
<thead>
  <tr>
    <th scope="col">Nutzer Id</th>
   <!-- <th scope="col">Mail</th> -->
    <th scope="col">Rollen</th>
   <th scope="col"></th> 




  </tr>
</thead>
<tbody>
    <tr *ngFor="let user of users">
      <td nowrap="nowrap" style="width: 170px">{{user?.displayName}}</td>
    <!--  <td>{{user?.mail}}</td> -->
    <!--  <td>{{user?.jobTitle}}</td> -->
      <td  nowrap="nowrap" style="width: 170px">
          <a class="trigger info-color text-white" *ngFor="let role of user?.roleArray">{{role}}</a>
        </td>
      <td style="width: 170px"><button mat-raised-button (click)="openDialog(user?.mail,user?.roleName)">Rolle zuweisen</button></td>
    <!--  <td>{{user?.modules}}</td>
      <td><button mat-raised-button (click)="openModuleDialog(user?.mail,user?.modules)">Module zuweisen-/abmelden</button></td> -->

    </tr>
      
</tbody>
</table>
</div>
</div>


