td{
    text-align:left;
    font-weight:bold;
    color: black; 
  }
.roles{
margin-top: 0.5%;
width: 90%;
align-content: center;
background-color: white;
border:2px solid rgb(90, 89, 89);
}
.flexHeader {
  display: flex;
  height: 100%;
  justify-content: center;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 0.5%;
  font-family: var(--font-text);
}
.flex {
  display: flex;
  height: 100%;
  justify-content: center;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 1%;
  border:2px solid rgb(90, 89, 89);

}
.trigger {
  padding: 1px 10px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 10px;
  background-color: #eee;
  color: #212121;
  display: inline-block;
  margin: 3px 5px;
  }
  
  .hoverable, .trigger {
  transition: box-shadow 0.55s;
  box-shadow: 0;
  }
  
  .hoverable:hover, .trigger:hover {
  transition: box-shadow 0.45s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }