
    <h3 *ngIf="!authenticated" style="margin-left: 3%; color:black;font-family: var(--font-text)">Bitte loggen Sie sich ein..</h3>    
    <br>
    
    <ul class="metro" style="list-style-type:none">   
                 
            <mat-card *ngIf="videoIndexerAuthenticated" class="dashboard-cards" (click)="mediaOverview()">
                    <mat-card-header>
                      <mat-card-title>Video- und Sprachmodelle</mat-card-title>
                      </mat-card-header>
                      <img mat-card-image class= "img-card"  src="/assets/img/video_sprachmodelle.jpg">
                      <mat-card-content>
                      <p>
                       Unsere KI Lösung extrahiert Text und Sprache aus den Videos. Anschließend können die Nutzer die Videos nach den identifizierten Schlüsselwörtern durchsuchen.
                      </p>
                    </mat-card-content>                           
            </mat-card>

            <mat-card *ngIf="webAuthenticated" class="dashboard-cards" (click)="showWebChat()">
                    <mat-card-header>
                      <mat-card-title>Webchat</mat-card-title>
                      </mat-card-header>
                    <img mat-card-image class= "img-card" src="/assets/img/webchat.jpg">
                    <mat-card-content>
                      <p>
                       Mithilfe unseres Webchats können häufig gestellte Fragen Ihrer Kunden oder Mitarbeiter schnell bearbeitet werden. Der Chatbot zieht seine Antworten aus den Videoindizes und FAQs.
                      </p>
                    </mat-card-content>                           
            </mat-card>

            <mat-card *ngIf="userManagementAuthenticated" class="dashboard-cards"  (click)="logging()">
                    <mat-card-header>
                      <mat-card-title>Nutzerfeedback</mat-card-title>
                      </mat-card-header>
                    <img mat-card-image class= "img-card" src="/assets/img/nutzerfeedback.jpg">
                    <mat-card-content>
                      <p>
                       Der Webchat wird agil an dem Nutzerfeedback verbessert. Hier kann man Einblick in die aktuellen Feedbacks erhalten.
                      </p>
                    </mat-card-content>                           
            </mat-card>

            <mat-card *ngIf="userManagementAuthenticated" class="dashboard-cards" (click)="authorisation()">
                    <mat-card-header>
                      <mat-card-title>Nutzerverwaltung</mat-card-title>
                      </mat-card-header>
                    <img mat-card-image class= "img-card"  src="/assets/img/nutzerverwaltung.jpg">
                    <mat-card-content>
                      <p>
                       Hier können Sie die Rechte und Rollen ihrer Mitarbeiter für die Verwendung des DIANA Frameworks festlegen.
                      </p>
                    </mat-card-content>                           
            </mat-card>
                    
                </ul> 
               
                <div class="box">
                    <span class="close"></span>
                    <p></p>
                </div>     

                  
                
                
                