<!-- Diese Seite ist die Grundlage fuer alle weiteren Seiten, quasi der Blueprint, Beispiel: 2 Toolbars etc.-->


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<style>
  #grad1 {
    height: 100%;
    background-color: var(--color-background); /* For browsers that do not support gradients */
    background-image: linear-gradient(var(--color-background),var(--color-gradient)); /* Standard syntax (must be last) */
    }
  </style>


<div id="grad1" style="min-height:1000px">

<app-toolbar></app-toolbar>


<router-outlet></router-outlet>
</div>

