


  <h3  style="margin-left: 3%"></h3>   
    <br>
        <ul class="metro" style="list-style-type:none">


            <mat-card  class="dashboard-cards" (click)="openRoleAssignment()">
                <mat-card-header>
                  <mat-card-title>Rollen</mat-card-title>
                  </mat-card-header>
                <img mat-card-image class= "img-card"  src="/assets/img/rollen.jpg">
                <mat-card-content>
                  <p>
                   Hier werden den jeweiligen Nutzern ihre Rollen zugewiesen.
                  </p>
                </mat-card-content>                           
           </mat-card>


           <mat-card  class="dashboard-cards" (click)="openUserManagement()">
              <mat-card-header>
                <mat-card-title>Benutzer</mat-card-title>
                </mat-card-header>
              <img mat-card-image class= "img-card"  src="/assets/img/benutzer.jpg">
              <mat-card-content>
                <p>
                 Hier können Sie Mitarbeiter aus ihrem AD für das DIANA Framework freischalten.
                </p>
              </mat-card-content>                           
         </mat-card>

         <mat-card  class="dashboard-cards" (click)="openModuleAssignment()">
            <mat-card-header>
              <mat-card-title>Module</mat-card-title>
              </mat-card-header>
            <img mat-card-image class= "img-card" style="height: 270px"  src="/assets/img/module.jpg">
            <mat-card-content>
              <p>
               Wählen Sie die passenden Module aus.
              </p>
            </mat-card-content>                           
       </mat-card>

               </ul>
            
            <div class="box">
                <span class="close"></span>
                <p></p>
            </div>
