.dashboard-cards {
    max-width: 400px;
    max-height: 600px;
    margin: 15px;
    background-color: var(--color-cards);
    color: var(--color-card-contrast);
    cursor: pointer;
    -webkit-box-shadow: 0 0 22px rgba( 0,0,0, .5);
    overflow: hidden;
  }
  
  .dashboard-cards:hover {
    background-color: var(--color-card-contrast);
        color: var(--color-cards);
  }
  
  .img-card{
   -webkit-transition: all 1.2s;
   width:400px;
   }
  
  .img-card:hover{
    -webkit-transform:scale(1.07);  
   }