



  
  <div class="flexHeader">
    <h1>Feedback Übersicht</h1> 
  </div>


<div [hidden]="!authenticated" class="roles">

        <kendo-grid
          [data]="gridData"
          [loading]="dataLoading"
          [height]="710"
          [pageSize]="pageSize"
          [skip]="skip"
          [filter]="state.filter"
          [pageable]="true"
          [filterable]="true"
          (pageChange)="pageChange($event)"
          (dataStateChange)="dataStateChange($event)"
          >
       
  
        <kendo-grid-column *ngFor="let col of columns" [field]="col.field"></kendo-grid-column> 
        </kendo-grid>
  



