

<div class="flexHeader">
  <h1>Videoanalyse Board</h1> 
</div>
<div *ngIf="authenticated" class="flex">

  <div class="player-container">
    <iframe *ngIf="widgetplayer"
            width="100%"
            height="100%"
            [src]="widgetplayer | safe" frameborder="0" allowfullscreen>
    </iframe>
  </div>

  <div class="transcript-container">
    <iframe *ngIf="widgetinsights"
            width="580"
            height="780"
            [src]="widgetinsights | safe" frameborder="0" allowfullscreen>
    </iframe>
  </div>  
</div>

