
  
  <div class="flexHeader">
    <h1>Module</h1> 
  </div>

<div *ngIf="authenticated" class="container roles">
    <div class="table-responsive">

  <table class="table table-bordered">
<thead>
  <tr>
    <th scope="col">Nutzer Id</th>
  <!--  <th scope="col">Mail</th> -->
   <!-- <th scope="col">Rolle</th>
    <th scope="col">Rollenverwaltung</th> -->
    <th scope="col">Module</th>
    <th scope="col"></th>


  </tr>
</thead>
<tbody>
    <tr *ngFor="let user of users">
      <td style="width: 170px">{{user?.displayName}}</td>
  <!--    <td>{{user?.mail}}</td> -->
   <!--   <td>{{user?.roleName}}</td>
      <td><button mat-raised-button (click)="openDialog(user?.mail,user?.roleName)">Rolle zuweisen</button></td> -->
      <td  nowrap="nowrap" style="width: 450px">
          <a class="trigger info-color text-white" *ngFor="let module of user?.moduleArray">{{module}}</a>
        </td>     
        
        <td style="width: 170px"><button mat-raised-button (click)="openModuleDialog(user?.mail,user?.roleArray)">Module zuweisen-/entziehen</button></td> 

    </tr>
      
</tbody>
</table>
</div>
</div>

