<h1 mat-dialog-title>Wählen Sie ein Modul für den Nutzer aus</h1>

<div mat-dialog-content>


  <mat-form-field>
      <mat-select [(value)]="value">
            <mat-option *ngFor="let module of modules" [value]="module">{{module.name}}</mat-option>
      </mat-select>

  </mat-form-field>
  
  <button type="submit" (click)='onAssignClick()' mat-button [mat-dialog-close]="true">Modul zuweisen</button>  
  
  <button type="submit" (click)='onUnAssignClick()' mat-button [mat-dialog-close]="true">Modul entziehen</button>  

  <button type="submit" (click)='onCancelClick()' mat-button [mat-dialog-close]="false">Abbrechen</button>  



</div>