
h1, h2, h3, h4, h5, h6 {font-family:var(--font-header)}

.mat-toolbar {
  width: 100%;
  background-color: var(--color-toolbar);
  font-family: var(--font-header);
  position:-webkit-sticky;
  z-index: 1000;
  } 




/* what is the use of the following code*/
.mat-toolbar.mat-gtToolBackground {
  background: var(--color-toolbar);
  color: rgb(255, 255, 255);  
}

/*
.toolBarBackground{
background-size: cover;
display: block;
}*/


@media screen and (max-width: 500px) {
  .mat-toolbar span {
    float: none;
    display: block;
  }
}

.navbar-button {
  font-size: 100%;
  min-width: min-content;
}

.mat-sidenav-content {
  font-size: 100%;
  text-align: center;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
  Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
  background-color: var(--color-toolbar);
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

span{
  padding-left: 12px;
  float: left;
  display: inline;
  color:  rgb(255, 255, 255);
  font-size: 80%;
} 

ul{
  list-style: none;
}
ul li a{
  color:  #fff;
}
ul li:after{
  content: " / ";
  color:  black;
  font-family: var(--font-text);
  font-size: 15px;
}

/*Class for DNAButton*/
.link-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  margin-left: 0%;
  border: white;
  cursor:pointer;
  overflow: hidden;
  outline:white;
  font-size: 0.8em;
  padding:0%;
  max-width: 40%;
  max-height: 40%;
}

/*Resize logo if button is changed!*/
img.resize {
  max-width: 100%;
  max-height: 100%;
}

/*buttons for log in and out*/
.btn-logging {
  background-color: var(--background-color);
  font-size: 18px;
  text-align: center;
  border: 1px solid white;  
  border-radius: 3px;
}

.btn-logging:hover {
  background-color: white;
  color: #333;
}

