<div class="toolBarBackground">
<mat-toolbar style="min-height: 70px !important; height: 70px !important">

  
    <!--combined picture for EY DNA insert in lower part-->
        <span style="margin-top: 5px;margin-left: 5px;" (click)="showDashboard()">
          <button class="link-btn">
            <img  class ="resize" src="assets/img/DNA.png" alt ="DNALogo">
          </button>
      </span> <!-- Logo als back home-->

  <span style="margin-top:10px" (click)="showDashboard()" style="font-size:30px;">DIANA Plattform</span>
   

  <span class="example-spacer"></span>

    <div fxShow="true" fxHide.lt-md="true">
        <span *ngIf="authenticated" style="min-height: 40px !important; height: 40px !important;margin-top: 10px">
        {{UserName}}  </span>
      <!--Username as Parameter should not be greater than header-->

      <span *ngIf="!authenticated" (click)="login()" style="min-height: 40px !important; height: 40px !important;margin-top: 10px">
        <button md-button class="btn-logging">Login</button>
      </span> <!--login button-->

      <span *ngIf="authenticated" (click)="logout()" style="min-height: 40px !important; height: 40px !important;margin-top: 10px">
        <button md-button class="btn-logging" >Logout</button>
      </span> <!-- logout button-->

    </div>

</mat-toolbar>


<mat-sidenav-container fxFlexFill class="example-container">
  <mat-sidenav color="primary" fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
    <div fxLayout="column">

      <span *ngIf="authenticated" style="min-height: 40px !important; height: 40px !important;margin-top: 40px;">
        {{UserName}} 
      </span>

          <span  (click)="showDashboard()">
              <i class="fa fa-home" style="font-size:35px;min-height: 40px !important; height: 40px !important;margin-top: 40px"></i>
          </span>

          <span (click)="listUsers()">
              <i class="fa fa-address-card" style="font-size:35px;min-height: 40px !important; height: 40px !important;margin-top: 40px"></i>
          </span>

          <span *ngIf="!authenticated" (click)="login()" style="min-height: 40px !important; height: 40px !important;margin-top: 40px">
            <button mat-raised-button>Login</button>
          </span>

          <span *ngIf="authenticated" (click)="logout()" style="min-height: 40px !important; height: 40px !important;margin-top: 40px">
            <button mat-raised-button>Logout</button>
          </span>

    </div>
  </mat-sidenav>
</mat-sidenav-container>
</div>


<!--side navigation-->
<mat-toolbar  style="min-height: 30px !important; height: 20px !important;background-color: transparent; margin: 10px;color:black">
  <span class="example-spacer"></span>
<ul  routerLinkActive="active">
  <li  *ngFor="let link of links" style="display:inline;">
    <a style="text-decoration: none;font-family:var(--font-text);color:black;font-size:15px"  [routerLink]="link.path" >{{ link.text }}</a>
  </li>
</ul>
</mat-toolbar>